@model IEnumerable<ILoveEnglishSchool.Models.PartModules>

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div class="col-12">
    <h1 class="jumbotron" style="background: linear-gradient(43deg, #add681 0%, #bbedfb);color: rgb(0,0,0); height: 40px;justify-content: center; width: 100pc; margin-left: -10pc">
        Lesson @Model.First().Part.Lesson.LessonId (Part @Model.First().Part.PartId)– @Model.First().Part.Name – @Model.First().Part.Type
    </h1>
    <img src="@Model.First().Part.WelcomeImage" alt="Image Not Found :(" class="img-thumbnail" style="width: 50pc">
    @foreach (var module in Model) {
        <br><br><br><br><br><br>
        <partial name="_Module" model="module"/>
    }
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.First().Part.PartId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
