@model ILoveEnglishSchool.Models.Part

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>

<h1 class="jumbotron" style="background: linear-gradient(43deg, #add681 0%, #bbedfb);color: rgb(0,0,0); height: 40px;justify-content: center; width: 100pc; margin-left: -10pc">
    Part editor
</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PartId" />
            <div class="form-group">
                <label asp-for="WelcomeImage" class="control-label">Welcome Image</label>
                <input asp-for="WelcomeImage" class="form-control" />
                <span asp-validation-for="WelcomeImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LessonId" class="control-label">Lesson</label>
                <select asp-for="LessonId" class="form-control">
                    @foreach (var item in (List<Lesson>) ViewData["LessonId"]) {
                        <option value="@item.LessonId">Lesson @item.LessonNumber – @item.Level - @item.Topic</option>
                    }
                </select>
                <span asp-validation-for="LessonId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <select asp-for="Type" class="form-control" asp-items="Html.GetEnumSelectList<LessonType>()"></select>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn" style="background-color: #8aacc8;"/>
                <a asp-action="Index" class="btn" asp-route-id="@Model.LessonId" style="background-color: #add681;">Go Back</a>
            </div>
        </form>
    </div>
</div>

</body>
</html>
